* {
    margin: 0px;
    padding: 0px;   
   }
   
   .float{
    position: absolute;
    top: 2px;
    right: 1px;
  }

   body{
    background-image: linear-gradient(to bottom,#080926,#0e0068ec);
   }

   header{
    min-height: 150px;
    text-align: center;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0),#18ce462c);
   }

   header span {
    color: rgb(71, 71, 255);
   }
  
   header h1 {
    padding-top: 20px;
    font-size: 50px;
    color: white;
    font-family: "Permanent Marker", "cursive";
   }

   header p {
    font-size: 1.3em;
    text-decoration: underline;
    padding-top: 30px;
    padding-bottom: 35px;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 255, 255);
   }

   nav{
    font-size: 1.1em;
    padding-top: 7px;
    padding-bottom: 2px;
    text-align: center;
    background-color: #18ce462c;
   }

   nav a {
    font-weight: bolder;
    color: rgb(255, 0, 0);
    margin-right: 100px;
    margin-left: 90px;
    padding: 4px;
    text-decoration: none;
    transition: 2s;

   }    

   nav a:hover{
    background-color: black;
    text-decoration: underline;
    font-weight: bolder;
   }

   header > a {
    
    float: right;
    margin-top: 100px;
    padding-top: 25px;
    padding-right: 10px;

   }

   main{
    background-image: linear-gradient(to bottom, #00000079, rgba(0, 0, 0, 0.61));
    min-width: 300px;
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 25px;
    text-indent: 10px;
    text-align: auto;    
   }

   article a {
    color: rgb(0, 247, 255);
    text-decoration: none;
    transition: 2s;
   }

   article a:hover{
    text-decoration: underline;
    color: rgb(0, 255, 200);
   }

   article p {
    color: white;
    font-weight: bolder;
    font-size: 1.3em;
    line-height: 25px;
   }

   article h2 {
     font-size: 2.5em;
     padding-bottom: 20px;
     text-align: center;
     color: rgb(0, 255, 76);
   }

   footer { 
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1.3em;
    font-weight: bolder;
    background-color: rgb(0, 0, 0);
   }

   .game {
    padding-bottom: 35px;
    padding-top: 35px;
    text-align: center;
   }

   .game img{
    width: 85%;
    box-shadow: 0px 0px 7px rgb(255, 255, 255);
   }

   .wong img {
    width: 85%;
    box-shadow: 0px 0px 7px rgb(255, 255, 255);
   }

   article .wong{
    padding-bottom: 35px;
    padding-top: 35px;
    width: 69%;
    margin: auto;
    margin-left: 194px;
   }

aside .unique {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
  
}

footer a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: 2s;
}

footer a:hover {
  text-decoration: underline;
  color: rgb(255, 0, 0)
}

aside video{
  box-shadow: 0px 0px 7px rgb(255, 255, 255);
}



@media screen and (max-width: 700px) {

  header h1 {
    margin-top: 10px;
    font-size: 45px;
  }

  header p{
    margin-left: 20px;
  }

  video {
    width: 100%;
    margin: auto;
  }

  article .wong {
    width: 100%;
    margin: 10px;
  }

  article p {
    text-align: justify;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: 1.3em;
    line-height: 25px;
  }

  nav a {
    font-size: 13px;
    margin-left: 12px;
    margin-right: 20px;
  }

  main {
    margin: 0;
    border-radius: 0px;
  }

  main {
    margin: 0;
    border-radius: 0px;
  }

  footer{
    font-size: 15px;
    background-color: rgb(0, 0, 0);

  }


} 



